{% extends "index.html" %}

{% block section %}

<script>
    function showHeart() {
    $.ajax({
        type: 'GET',
        url: '/show_heart/{{name}}/',
        data: {},
        success: function (response){
            let my_heart = response['my_heart'];
            if (my_heart['interested'] == 'Y')
            {
                $("#heart").css("color","red");
                $("#heart").attr("onclick","unlike()");
            }
            else
            {
                $("#heart").css("color","grey");
                $("#heart").attr("onclick","like()");
            }
            //alert("showheart!")  
        }
        });
    }
    
    function like() {
        $.ajax({
            type: 'POST',
            url: '/like/{{name}}/',
            data: {
                interested : "Y"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
         });
     }
    
     function unlike() {
         $.ajax({
             type: 'POST',
             url: '/unlike/{{name}}/',
             data: {
                 interested : "N"
             },
             success: function (response) {
                 alert(response['msg']);
                 window.location.reload()
             }
         });
     }
    
     $(document).ready(function () {
         showHeart();
     });
    
</script>

<p>
    item name is <b>{{name}}</b> and address is {{data.addr}}
</p>
<p>
    item tel. is {{data.phone}} and category is {{data.category}}
</p>
<p>
    For payment, the credit card is 
    {% if data['card'] == "Y" %}
    accepted!
    {% endif %}
    {% if data['card'] == "N" %}
    NOT accepted!
    {% endif %}
</p>
<img src="../../static/images/{{data.img_path}}", width=140, height=200>
<button onclick="location.href='/reg_review_init/{{name}}/';">
    리뷰등록
</button>
<i class="fa fa-heart" id="heart"></i>


   
{% endblock section %}
